<template>
  <v-row align="center" justify="center"> 
    <v-col cols="12" sm="9" md="6" class="text-center" >
      <div>
          <h1>Ajouter un développeur :</h1>
          <label for="nom">Nom :</label>
          <v-text-field solo v-model="newname" label="nom" placeholder="Nom" required/>

          <label for="nation">Nationalité :</label>
          <v-text-field solo v-model="newnation" label="nation" placeholder="Nationnalité" required/>

          <label for="annee">Année :</label>
          <v-text-field solo type="number" v-model="newyear" label="annee" placeholder="Année" required/>

          <v-btn small v-on:click="ajouter(true)">Ajouter</v-btn>
          <v-btn small v-on:click="ajouter(false)">Annuler</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'ajouterDev',
  data(){
    return{
      shared_data: window.shared_data,
      id: window.shared_data.developpeurs.length,
      newname: "",
      newyear: "",
      newnation: "",
    }
  },
  methods:{
    ajouter(machin){
      if (machin){
        this.shared_data.developpeurs.push({
          id: this.id, 
          nom: this.newname,  
          annee: this.newyear,
          nationalite: this.newnation,
        });
      }
      this.$router.push({path: '/'});
    },
  }
}
</script>