<template>
  <v-row align="center" justify="center"> 
    <v-col cols="12" sm="9" md="6" class="text-center" >
      <div>
          <h1>Ajouter un jeu :</h1>
          <label for="nom">Nom :</label>
          <v-text-field solo v-model="newname" label="nom" placeholder="Nom" required/>

          <label for="annee">Année :</label>
          <v-text-field solo type="number" v-model="newyear" label="annee" placeholder="Année" required/>

          <label for="dev">Développeur :</label>
          <v-select :items="developpeurs" item-text="nom" item-value="id" solo v-model="newdev" label="Développeur"/>

          <label for="image">Url de l'image :</label>
          <v-text-field solo v-model="newurl" placeholder="Image" required/>

          <label for="desc">Descriptif :</label>
          <v-textarea solo v-model="newdesc" label="desc" placeholder="Descriptif" required/>

          <label for="genre">Genre :</label>
          <v-select :items="genres" solo v-model="newgenre" label="Genre"/>

          <label for="note">Note :</label>
          <v-select :items="notes" solo v-model="newnote" label="Note"/>

          <v-btn small v-on:click="ajouter(true)">Ajouter</v-btn>
          <v-btn small v-on:click="ajouter(false)">Annuler</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'ajouterJV',
  data(){
    return{
      shared_data: window.shared_data,
      id: window.shared_data.jeuxvideo.length,
      newname: "",
      newyear: "",
      newdev: "",
      newurl: "",
      newdesc: "",
      newgenre: "",
      newnote: "",
      genres: window.shared_data.genres,
      notes: window.shared_data.notes,
      developpeurs: window.shared_data.developpeurs
    }
  },
  methods:{
    ajouter(machin){
      if (machin){
        this.shared_data.jeuxvideo.push({
          id: this.id, 
          nom: this.newname, 
          developpeur: this.newdev, 
          annee: this.newyear, 
          url: this.newurl, 
          description: this.newdesc,
          genre: this.newgenre,
          note: this.newnote
          });
      }
      this.$router.push({path: '/'});
    },
  }
}
</script>