<style scoped>

img{
    width:200px;
}
</style>

<template>
  <v-row align="center" justify="center"> 
    <v-col cols="12" sm="9" md="6" class="text-center" >
      <div>
          <h1>Détails de {{newname}}</h1>
          
          <img v-if=this.newurl v-bind:src=this.newurl alt="image détail"/>

          <p><b>Année :</b> {{this.newyear}}</p>
          <div>
            <p><b>Développeur :</b> {{this.shared_data.developpeurs[this.newdev].nom}} </p>
            <p>Nationalité : {{this.shared_data.developpeurs[this.newdev].nationalite}}</p>
            <p>Date de création : {{this.shared_data.developpeurs[this.newdev].creation}}</p>
          </div>
          <br/>
          <p><b>Descriptif :</b> {{this.newdesc}}</p>
          <p><b>Genre :</b> {{this.newgenre}}</p>
          <p><b>Note :</b> {{this.newnote}}</p>

          <v-btn small v-on:click="modifier()">Modifier</v-btn>
          <v-btn small v-on:click="retour()">Annuler</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'detailsjv',
  data(){
    return{
      shared_data: window.shared_data,
      id: this.$route.params.id,
      newname: window.shared_data.jeuxvideo[this.$route.params.id].nom,
      newyear: window.shared_data.jeuxvideo[this.$route.params.id].annee,
      newdev: window.shared_data.jeuxvideo[this.$route.params.id].developpeur,
      newurl: window.shared_data.jeuxvideo[this.$route.params.id].url,
      newdesc: window.shared_data.jeuxvideo[this.$route.params.id].description,
      newgenre: window.shared_data.jeuxvideo[this.$route.params.id].genre,
      newnote: window.shared_data.jeuxvideo[this.$route.params.id].note,
    }
  },
  methods:{
    retour(){
      this.$router.push({path: '/'});
    },
    modifier(){
      this.$router.push({path: '/jv/' + this.id + '/edit'});
    },
  }
}
</script>