<template>
  <v-row align="center" justify="center"> 
    <v-col cols="12" sm="9" md="6" class="text-center">
      <div>
          <h1>Modifier le jeu : {{newname}}</h1>
          <label for="nom">Nom :</label>
          <v-text-field solo v-model="newname" label="nom" placeholder="Nom" required/>

          <label for="annee">Année :</label>
          <v-text-field solo type="number" v-model="newyear" label="annee" placeholder="Année" required/>

          <label for="dev">Développeur :</label>
          <v-select :items="developpeurs" item-text="nom" item-value="nom" solo v-model="newdev" label="Développeur"/>

          <label for="image">Url de l'image :</label>
          <v-text-field solo v-model="newurl" label="image" placeholder="Image" required/>

          <label for="desc">Descriptif :</label>
          <v-textarea solo v-model="newdesc" label="desc" placeholder="Descriptif" required/>

          <label for="genre">Genre :</label>
          <v-select :items="genres" solo v-model="newgenre" label="Genre"/>

          <label for="note">Note :</label>
          <v-select :items="notes" solo v-model="newnote" label="Note"/>

          <v-btn small v-on:click="modifier(true)">Modifier</v-btn>
          <v-btn small v-on:click="modifier(false)">Annuler</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'editer',
  data(){
    return{
      shared_data: window.shared_data,
      id: this.$route.params.id,
      newname: window.shared_data.jeuxvideo[this.$route.params.id].nom,
      newyear: window.shared_data.jeuxvideo[this.$route.params.id].annee,
      newdev: window.shared_data.jeuxvideo[this.$route.params.id].developpeur,
      newurl: window.shared_data.jeuxvideo[this.$route.params.id].url,
      newdesc: window.shared_data.jeuxvideo[this.$route.params.id].description,
      newgenre: window.shared_data.jeuxvideo[this.$route.params.id].genre,
      newnote: window.shared_data.jeuxvideo[this.$route.params.id].note,
      genres: window.shared_data.genres,
      notes: window.shared_data.notes,
      developpeurs: window.shared_data.developpeurs
    }
  },
  methods:{
    modifier(machin){
      if (machin){
        this.shared_data.jeuxvideo[this.id].nom = this.newname;
        this.shared_data.jeuxvideo[this.id].annee = this.newyear;
        this.shared_data.jeuxvideo[this.id].developpeur = this.newdev;
        this.shared_data.jeuxvideo[this.id].url = this.newurl;
        this.shared_data.jeuxvideo[this.id].description = this.newdesc;
        this.shared_data.jeuxvideo[this.id].genre = this.newgenre;
        this.shared_data.jeuxvideo[this.id].note = this.newnote;
      }
      this.$router.push({path: '/jv/' + this.id});
    },
  }
}
</script>