<template>
  <v-row align="center" justify="center"> 
    <v-col cols="12" sm="9" md="6" class="text-center" >
      <div>
        <label for="recherche">Rechercher par Titre, Développeur ou Année : </label><br/>
        <v-text-field solo placeholder="Titre, Dev ou Année" v-model="rechercheNom"/><br/>

        <br/>
        <br/>
        
        <router-link v-bind:to="{path: '/addGame'}"><v-btn small>Ajouter un jeu</v-btn></router-link>
        <router-link v-bind:to="{path: '/addDev'}"><v-btn small>Ajouter un développeur</v-btn></router-link>

        <br/>
        <br/>

        <ul>
          <li v-for="(jv,i) of jeuxvideoFiltre" v-bind:key="i" v-bind:index="index" v-bind:i="i" v-bind:jv="jv">
            <span v-if='index != i'><b>{{jv.nom}}</b> - {{jv.annee}}</span>
            <router-link v-bind:to="{path: '/jv/' + jv.id}"><v-btn small>Détails</v-btn></router-link>
            <v-btn small v-on:click='supprimer(i)'>Supprimer</v-btn>
          </li>
        </ul>
        <span>Nombre de jeux vidéo : {{ nbJv }}</span>
      </div>
    </v-col>
  </v-row>
  
</template>

<script>
export default {
  name: 'vgItem',
  mounted: function(){

  },
  data(){
    return{
      index: -1,
      rechercheNom: "",
      shared_data: window.shared_data
    }
  }, 
  props: {
    "jv" : Object,
    "i" : Number
  },
  methods: {
    supprimer(i){
      this.shared_data.jeuxvideo.splice(i,1);
    },
  },
  computed:{
    nbJv(){
      return this.shared_data.jeuxvideo.length;
    },
    jeuxvideoFiltre(){
      return this.shared_data.jeuxvideo.filter(j => j.nom.toLowerCase().includes(this.rechercheNom.toLowerCase()) || 
      j.annee.toString().includes(this.rechercheNom.toLowerCase()) ||
      this.shared_data.developpeurs[j.developpeur].nom.toLowerCase().includes(this.rechercheNom.toLowerCase()));
    }
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #42b983;
}
button{
  margin: 10px;
}
</style>
