<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
import VueRouter from 'vue-router'
import vgItem from './components/vgItem.vue'
import editer from './components/editer.vue'
import ajouterJV from './components/ajouterJV.vue'
import detailsjv from './components/detailsjv.vue'
import ajouterDev from './components/ajouterDev.vue'

const routes = [
  { path: '/', component: vgItem },
  { path: '/jv/:id', component: detailsjv },
  { path: '/jv/:id/edit', component: editer },
  { path: '/addGame', component: ajouterJV },
  { path: '/addDev', component: ajouterDev },
]

const router = new VueRouter({
  routes
})

export default {
  name: 'App',
  router
};
</script>
